@model  ProyectoPrograWebHHK.Models.ShoppingCartModel

@{Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HHK - Carrito de compras</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Disponibilidad</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-right"> Costo Unitario </th>
                                <th scope="col" class="text-right"> Total </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ShoppingCarts)
                            {
                                <tr>
                                    <td><img src="https://dummyimage.com/50x50/55595c/fff" /> </td>
                                    <td>@item</td>
                                    <td>In stock</td>
                                    <td><input class="form-control" type="text" value="@item.Cantidad" /></td>
                                    <td class="text-right">$ @item.CostoUnitario</td>
                                    <td class="text-right">$ @item.CostoTotal = @item.CostoUnitario * Item.Cantidad</td>
                                    <td class="text-right"><button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> </button> </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <button class="btn btn-block btn-light">Continue Comprando</button>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg btn-block btn-success text-uppercase">Terminar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container">
        <p>&copy; Antonio Contreras Universidad UCAD &middot;</p>
    </footer>
</body>

</html>
