@model  ProyectoPrograWebHHK.Models.ShoppingCartModel

@{Layout = null; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HHK - Carrito de compras</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>

    <div class="container mb-4">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Producto</th>
                                <th scope="col">Disponibilidad</th>
                                <th scope="col" class="text-center">Cantidad</th>
                                <th scope="col" class="text-right"> Costo Unitario </th>
                                <th scope="col" class="text-right"> Total </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ShoppingCarts)
                            {
                                <tr>
                                    @if (item.Departamento == 1)
                                    {
                                        <td><img src="~/Resources/Images/Motocicletas/@item.RutaImagen" width="50" height="50" /> </td>
                                    }
                                    else
                                    {
                                        <td><img src="~/Resources/Images/Refacciones/@item.RutaImagen" width="50" height="50" /> </td>
                                    }

                                    <td>@item.Sku</td>
                                    <td>In stock</td>
                                    <td class="text-right">@item.Cantidad</td>
                                    <td class="text-right">$ @item.CostoUnitario</td>
                                    <td class="text-right">$ @item.CostoTotal</td>
                                    <td class="text-right"><a class="btn btn-sm btn-danger" style="cursor:pointer;" onclick=" deleteTocart(@item.Sku)"><i class="fa fa-trash"></i> </a> </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col mb-2">
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <a class="btn btn-block btn-light" href="@Url.Action("Index","Client")">Continuar Comprando</a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <button class="btn btn-lg btn-block btn-success text-uppercase">Terminar Compra</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="container">
        <p>&copy; Antonio Contreras Universidad UCAD &middot;</p>
    </footer>
</body>

</html>
<script>
     function deleteTocart(id)
     {
        $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteProduct", "Client")',

                dataType: 'json',

                data: {id: id },

            success: function (a) {

                },
                error: function () {
                    alert('Debe iniciar sessión para poder elimar del carrito o comprar');
                }
            });
     }
</script>