@model ProyectoPrograWebHHK.Models.ProductModel

@{
    List<SelectListItem> listItems = new List<SelectListItem>();

    listItems.Add(new SelectListItem { Text = "Motocicletas", Value = "1" });
    listItems.Add(new SelectListItem { Text = "Refacciones", Value = "2" });
}
<div>
    @using (Html.BeginForm("AddProduct", "administration", null,
                FormMethod.Post,
                new { enctype = "multipart/form-data", method = "post" }))
    {
        <div class="form-group">
            <p style="color:red"> @Html.ValidationMessageFor(b => b.Nombre)</p>
            @Html.TextBoxFor(a => a.Nombre, new { @class = "form-control", @placeholder = "Nombre" })
        </div>
        <div class="form-group">
            <p style="color:red"> @Html.ValidationMessageFor(b => b.Descripcion)</p>
            @Html.TextBoxFor(a => a.Descripcion, new { @class = "form-control", @placeholder = "Descripción" })
        </div>
        <div class="form-group">
            @Html.TextBoxFor(a => a.DescripcionSecundaria, new { @class = "form-control", @placeholder = "Descripción Secundaria" })
        </div>
        <div class="form-group">
            <p style="color:red"> @Html.ValidationMessageFor(b => b.IdDepartamento)</p>
            @Html.DropDownListFor(a => a.IdDepartamento, listItems, "--Seleccionar--", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <p style="color:red"> @Html.ValidationMessageFor(b => b.Costo)</p>
            @Html.TextBoxFor(a => a.Costo, new { @class = "form-control", @placeholder = "Costo" })
        </div>
        <div class="form-group">
            <p style="color:red"> @Html.ValidationMessageFor(b => b.Inventario)</p>
            @Html.TextBoxFor(a => a.Inventario, new { @class = "form-control", @placeholder = "Inventario" })
        </div>
        <div class="form-group">
            @*validar como cargar la imagen a resources o usar las de appdata o ver si la puedo guardar en la base de datos directamente y consumirla*@
            <p style="color:red"> @Html.ValidationMessageFor(b => b.ImageFile)</p>
            @Html.TextBoxFor(a => a.ImageFile, new { @class = "form-control", @placeholder = "Cargue una imagen", @type = "file" })
        </div>
        <button type="submit" class="btn btn-primary mb-2">Agregar</button>
    }

</div>

